* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

header {

    background-color: blue;
    height: 60px;
    
    
}
header nav {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    height: 100%;
    padding-right: 10%; 
}

header nav ul {

    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header > nav > ul > li {
    list-style: none;
    color: #fff;
    margin-left: 6%;
    
}

header > nav > ul > li > a {

    text-decoration: none;
}


/* CUERPO */
main {

    margin-top: 60px;
}
section {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}


main > section > article:nth-of-type(1) {

    display: flex;
    flex-direction: column;
    justify-items: start;
    width: 14%;
    gap: 20px;
    font-size: 20px;
}


main > section > article > a {

    padding: 1rem;
    color: #fff;
    background-color: blueviolet;
    text-decoration: none;
    text-align: center;
    border-radius: 30px;
}
